@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800;900&display=swap');

html {
    font-size: 75%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    font-family: 'Outfit', sans-serif;
}

:root {
    --dark-navy: #1A2A33;
    --semi-dark-navy: #1F3641;
    --silver: #A8BFC9;
    --silver-hover: #DBE8ED;
    --light-blue: #31C3BD;
    --light-blue-hover: #65E9E4;
    --light-yellow: #F2B137;
    --light-yellow-hover: #FFC860;
    --border-radius: .8rem;
}

body {
    overflow-x: hidden;
    height: 100vh;
    dsiplay: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--dark-navy);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* new game */

.new-game {
    padding: 6rem 0; 
}

.new-game-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    height: 100%;
    margin: 0 auto;
    padding: 5rem 0;
    background: transparent;
}

.new-game-menu .menu-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.new-game .player-select {
    background: var(--semi-dark-navy);
    mix-blend-mode: lighten;
    padding: 2rem 4%;
    width: 25rem;
    height: auto;
    margin-bottom: 1rem;
    border-radius: var(--border-radius);
    box-shadow: 0px 5px 0px var(--dark-navy);
}

.player-select h5, 
.player-select h6 {
    color: var(--silver);
    text-align: center;
    font-size: 1rem;
}

.player-select h6 {
    opacity: 0.5;
}

.player-select .player-select-icons {
    background: var(--dark-navy);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px .5rem;
    margin: .5rem 0;
    border-radius: var(--border-radius);
    gap: .5rem;
}

.player-select-icons .x-icon {
    width: 50%;
    background: var(--semi-dark-navy);
    border-radius: var(--border-radius);
}

.player-select-icons .x-icon img {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 0;
}

.player-select-icons .o-icon {
    width: 50%;
    background: var(--silver);
    border-radius: var(--border-radius);
}

.player-select-icons .o-icon img {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 0;
}

.new-game-menu .menu-btns a {
    width: 25rem;
    height: auto;
    display: flex;
    flex-direction: column;
}

.menu-btns .btn {
    height: 3.5rem;
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: uppercase;
    background: var(--light-yellow);
    color: var(--dark-navy);
    border-radius: var(--border-radius);
    outline: none;
    box-shadow: 0px 5px 0px var(--light-yellow);
}

.menu-btns .btn:hover,
.menu-btns .btn:active {
    background: var(--light-yellow-hover);
}

.menu-btns .pri {
    background: var(--light-blue);
    box-shadow: 0px 5px 0px var(--light-blue);
    margin-top: 15px;
}

.menu-btns .pri:active,
.menu-btns .pri:hover {
    background: var(--light-blue-hover);
}

/* single player */
.game-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto;
    margin: 0 auto;
    padding: 5rem 0;
    background: transparent;
}

.game-screen .game-screen-icons {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.game-screen-icons .turn {
    display: inline-flex;
    background: var(--semi-dark-navy);
    border-radius: var(--border-radius);
    padding: 8px 16px;
    align-items: center;
    justify-content: center;
}

.game-screen-icons .turn p {
    color: var(--silver);
    font-size: 1.5rem;
    text-transform: uppercase;
}

.game-screen .game-screen-icons img:last-child {
    background: var(--silver);
    padding: 8px;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.game-screen .game-screen-icons img:last-child:hover {
    background: var(--silver-hover);
}

.game-screen .game-board {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.game-board .box {
    width: 95px;
    height: 95px;
    background: var(--semi-dark-navy);
    border-radius: var(--border-radius);
    box-shadow: 0px 5px 0px var(--dark-navy);
}

.game-board .box:hover {
    background: #153b52;
}

.game-screen .score-board {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}

.score-board .x-score-board,
.score-board .ties-score-board,
.score-board .o-score-board {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    width: 90px;
    height: 50px;
}

.score-board .x-score-board {
    background: var(--light-blue);
}

.score-board .x-score-board:hover {
    background: var(--light-blue-hover);
}

.score-board .ties-score-board {
    background: var(--silver);
}

.score-board .ties-score-board:hover {
    background: var(--silver-hover);
}

.score-board .o-score-board {
    background: var(--light-yellow);
}

.score-board .o-score-board:hover {
    background: var(--light-yellow-hover);
}

.score-board h6 {
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--dark-navy);
    font-weight: 600;
}

.score-board p {
    font-size: 1.5rem;
    font-weight: 700;
}

/* responsiveness */
@media (max-width: 998px) {
    .new-game-menu {
        width: 100%;
    }

    .new-game-menu .menu-icons {
        margin-bottom: 3rem;
    }

    .new-game .player-select {
        margin-bottom: 2rem;
        border-radius: 1.2rem;
    }
}

@media (max-width: 600px) {
    .new-game-menu {
        width: 100%;
    }

    .new-game-menu .menu-icons {
        margin-bottom: 3rem;
    }

    .new-game .player-select {
        margin-bottom: 2rem;
    }
}

@media (max-width: 360px) {
    .new-game {
        padding: 0 50px;
    }
}